{{#unless noHeader}}
<div class="header">
  <div class="main-header">Actions</div>
</div>
{{/unless}}
<div class="clearfix">
  <a href="javascript:;" class="add-challenge btn btn-primary" style="font-size: 18px;
      display: block;padding:10px 15px;float:left"><i class="fa fa-plus" style="margin-right:8px;vertical-align:-1px"></i>Add a New Action</a>
  <div class="filter-view">
    Search: <input class="search-challenges" style="width: 200px; border: 1px solid #ccc;padding:4px;border-radius:4px" />
    <!--
    <div class="filter" style="margin-left: 20px;display: inline-block">Filter: 
      <a class="all" href="javascript:;">All</a>
      <a class="challenges" href="javascript:;">Challenges</a>
      <a class="prompts" href="javascript:;">Prompts</a>
    </div>-->
  </div>
  </div>
<div class="horizontal-challenge-module" style="margin-top:10px">
  <div class="horizontal-challenge-header">Featured Actions</div>
  <div class="challenges-list list-featured horizontal-challenge-view clearfix"></div>
</div>
<div class="horizontal-challenge-module" style="margin-top:10px">
  <div class="horizontal-challenge-header">Meditation Actions</div>
  <div class="challenges-list list-one horizontal-challenge-view clearfix"></div>
</div>
<div class="horizontal-challenge-module" style="margin-top:10px">
  <div class="horizontal-challenge-header">Adventure Actions</div>
  <div class="challenges-list list-two horizontal-challenge-view clearfix"></div>
</div>
<div class="horizontal-challenge-module" style="margin-top:10px">
  <div class="horizontal-challenge-header">Relationships Actions</div>
  <div class="challenges-list list-three horizontal-challenge-view clearfix"></div>
</div>
<div class="horizontal-challenge-module" style="margin-top:10px">
  <div class="horizontal-challenge-header">Self-Esteem Actions</div>
  <div class="challenges-list list-four horizontal-challenge-view clearfix"></div>
</div>
<div class="horizontal-challenge-module" style="margin-top:10px">
  <div class="horizontal-challenge-header">Addiction-Free Actions</div>
  <div class="challenges-list list-five horizontal-challenge-view clearfix"></div>
</div>
<div class="horizontal-challenge-module" style="margin-top:10px">
  <div class="horizontal-challenge-header">Social Actions</div>
  <div class="challenges-list list-six horizontal-challenge-view clearfix"></div>
</div>