<div class="horizontal-challenge-module">
  <div class="horizontal-challenge-header">
    Community Challenges
  </div>
  {{#if isCreator}}
  <div style="
    padding: 8px 12px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;">Let your members take on new challenges! Choose from a set of challenges, and pick the right ones for your community.</div>
  {{/if}}
  <div class="challenge-list clearfix">
  </div>
</div>