<div class="new-user-container"></div>
<div class="dashboard-container"></div>
<div class="popular-container">
  <div style="border-radius: 4px;overflow:hidden;">
    <div style="
      height: 140px;
      width: 753px;
      background: url(/images/all-together-now.jpg);
  "></div>
    <div class="header" style="border-top-left-radius:0;border-top-right-radius:0">See what others on Heros are up to!</div>
  </div>
</div>