<div class="module" style="border-color:rgba(128, 0, 128, 0.68)">
  <div class="header" style="border-bottom-color:rgba(128, 0, 128, 0.68);
    text-align: center;
    font-size: 26px;">Welcome to Heros!</div>
  <div style="padding: 10px;font-size:18px;color:purple">
      <div style="margin-bottom:15px">
        We're happy to see you here! On Heros, we’re all about connecting with others and supporting each other through our struggles, big or small. We do this in small communities based around similar intentions. Let’s find the group for you!
      </div>
      <a data-track="welcome-communities" href="/communities" style="display:block;margin-bottom:15px">Find Your First Community!</a>
      <div style="margin-bottom:15px">
        Along with Communities we also have Actions. Actions are exercises designed to get you thinking and acting in new and empowering ways. We have Actions on a number of topics, and are always adding more.
      </div>
      <a data-track="welcome-challenges" href="/challenges" style="margin-bottom:15px">Find Your First Action!</a>
  </div>
</div>