{{#each challenges}}
  <div class="clearfix" style="padding:4px 10px;border-bottom:1px solid #ccc">
    <div class="challenge-title" data-id="{{_id}}" style="float:left">{{title}}</div>
    <button style="float: right;
    padding: 2px 4px;
    border-radius: 4px;
    margin-top: 1px;
    border: 0;" class="choose-challenge btn-primary">Choose</button>
  </div>
{{/each}}
<div style="
    padding: 12px 10px 0;
">Can't see what you're looking for? <a href="javascript:;" class="add-challenge-stream">Add a challenge</a> instead!</div>